:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    cursor: default;

    h1 {
        font-size: map-get($font-size, extra-big);
        color: map-get($textcolor, primary);
        letter-spacing: 5px;
    }

    h2 {
        font-size: map-get($font-size, medium);
        color: map-get($textcolor, primary);
        letter-spacing: 3.5px;
    }

    h3 {
        font-size: map-get($font-size, medium);
        color: map-get($textcolor, accent);
        letter-spacing: 3.5px;
    }

    h4 {
        font-size: map-get($font-size, small);
        color: map-get($textcolor, secondary);
        letter-spacing: 3px;
    }

    p {
        font-size: map-get($font-size, extra-small);
        color: map-get($textcolor, secondary);
        letter-spacing: 1px;
    }

    button {
        @include buttons;
        &:focus {
            outline: none;
            border: none;
        }
    }

    button:hover, a:hover {
        cursor: pointer;
    }
}

