$bg-color: rgba(142, 101, 150, 0.185);

$textcolor: (
    "primary": white,
    "accent": rgb(98, 82, 136),
    "secondary": black
);

$font-size: (
    "extra-big": 4.5rem,
    "medium": 1.4rem,
    "small": 1.2rem,
    "extra-small": 1rem
)