:root {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($color, bg);
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    cursor: default;

    h1 {
        font-size: map-get($font-size, extra-big);
        color: map-get($color, primary);
        letter-spacing: map-get($letter-spacing, a)
    }

    h2 {
        font-size: map-get($font-size, medium);
        color: map-get($color, primary);
        letter-spacing:  map-get($letter-spacing, c)
    }

    h3 {
        font-size: map-get($font-size, medium);
        color: map-get($color, accent);
        letter-spacing:  map-get($letter-spacing, b)
    }

    h4 {
        font-size: map-get($font-size, small);
        color: map-get($color, secondary);
        letter-spacing:  map-get($letter-spacing, b)
    }

    p {
        font-size: map-get($font-size, extra-small);
        color: map-get($color, secondary);
        line-height: 2.5;
    }

    button {
        @include buttons;
        &:focus {
            outline: none;
            border: none;
        }
        &:hover {
            @include buttons-hover;
            cursor: pointer;
        }
    }

    a:hover {
        cursor: pointer;
        color: map-get($color, secondary);
    }
}
