$color: (
    "bg": rgba(212, 200, 214, 0.185),
    "primary": rgb(255, 255, 255),
    "accent": rgb(68, 71, 100),
    "accent-fade": rgb(241, 238, 245),
    "secondary": rgb(0, 0, 0),
    // "h1grey": rgb(29, 29, 29),
    "dark-orange": rgb(197, 70, 20),
    "light-orange": rgb(218, 119, 80),
    "shadow":rgba(206, 202, 212, 0.425)
);

$font-size: (
    "extra-big": 4.5rem,
    "medium": 1.4rem,
    "small": 1.2rem,
    "extra-small": 1rem
);

$letter-spacing: (
    "a": 0.6rem,
    "b": 0.2rem,
    "c": 0.1rem
)
